#times {
  float: left;
  width: 80px;
  height: 720px;
  margin-right: 10px;
}

.times-hourly-time {
  float: right;
  font-weight: 700;
}

.times-AMPM {
  margin-left: 5px;
  float: right;
}

.times-half-hourly {
  text-align: right;
}

#events {
  float: left;
  width: 600px;
  height: 720px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #eeeeee;
  border-left: 3px solid #dddddd;
}
